<%= form_with(model: @blog, local: true, url: choose_new_or_edit) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="blog">
    <%= form.label :title %>
    <% if @blog.errors.messages[:title].size == 0 %>
      <br>
    <% end %>
    <%= form.text_field :title %>
  </div>
  <div class="blog">
    <%= form.label :content %>
    <% if @blog.errors.messages[:content].size == 0 %>
      <br>
    <% end %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to "ブログ一覧画面にもどる", blogs_path %>