<h3>以下の内容で、投稿する。</h3>

<%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :user_id %>
  <%= hidden_field_tag :"cache[image]", @blog.image.cache_name %>
  <p>タイトル:<%= @blog.title %></p>
  <p>本文:<%= @blog.content %></p>
  <p>画像:</p>
  <!-- 確認画面でアップロードした画像を表示させるための記述 -->
  <p><%= image_tag(@blog.image.url) if @blog.image.url %></p>
  <%= form.submit "投稿する", class: 'commit-btn' %>
<% end %>

<%= form_with(model: @blog, url: new_blog_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :user_id %>
  <%= hidden_field_tag :"cache[image]", @blog.image.cache_name %>
  <%= form.submit "もどる", name: 'back', class: 'back-btn' %>
<% end %>
