<h1>サインアップ</h1>
<%= form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h3><%= @user.errors.count %>件のエラーがあります。</h3>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if flash.any? %>
    <div id="error_explanation">
      <h3>エラーがあります。</h3>
      <ul>
      <% flash.each do |key, value| %>
        <%= content_tag(:li, value, class: "#{key}") %>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="user">
    <%= f.label '名前' %>
    <% if @user.errors.messages[:name].size == 0 %>
      <br>
    <% end %>
    <%= f.text_field :name %>
  </div>
  
  <div class="user">
    <%= f.label 'メールアドレス' %>
    <% if @user.errors.messages[:email].size == 0 %>
      <br>
    <% end %>
    <%= f.email_field :email %>
  </div>
  
  <div class="user">
    <%= f.label 'パスワード' %>
    <% if @user.errors.messages[:password].size == 0 %>
      <br>
    <% end %>
    <%= f.password_field :password %>
  </div>
  
  <div class="user">
    <%= f.label 'パスワード（再入力）' %>
    <% if @user.errors.messages[:password_confirmation].size == 0 %>
      <br>
    <% end %>
    <%= f.password_field :password_confirmation %>
  </div>
  
  <%= f.submit "アカウント作成" %>
<% end %>
